#headline {
  font-family: 'bebas_neueregular', 'yanone kaffeesatz';
  z-index: 100;
  text-align: center;
  position: relative;
  font-size: 180px;
  color: #bb273f;
}

#splash {
  max-width: 100%;
  left:0;
  top: 0;
  
}

.title {
  background-color: black;
}

#section1, #section2 {
  padding-bottom: 50px;
}

#sspic {
  width: 100%;
}

#tpic {
 width: 100%
}

#leadin {
  font-family: 'yanone Kaffeesatz', serif;
  font-weight: bold;
  font-size: 20px;
}

#pullquote {
  font-family: "Yanone Kaffeesatz";
  color: #bb273f;
  font-size: 60px;
  text-transform: uppercase;
}

.container {
  background-color: black;
}
  
p {
  font-family: 'lora';
  font-size: 20px;
}
 h2 {
   font-family: 'Yanone Kaffeesatz';
   text-align: right;
   font-size: 40px;
   text-transform: uppercase;
 }

@media screen and (max-width: 767px) {
  .solid-state-text, .tube-text, #tpic, #sspic {
    width: 100%;
  }
}
